html, body, .container-fluid {            
    height:100%;
    padding:0px;margin:0px;

    font-family: effra;
}
.mainpanel {
    width:100%;
    height:100%;
    padding:0px;margin:0px;
}
.gameboard {
    height: 100%;
    margin: auto;

}
.gameboard .row{
    height:29%;
}

.gameboard .row .col-*{
    padding: 0 !important;
}


.gameboard #odd .col-xs-4:nth-child(odd) {
    background-color: #e8e8e8;
}

/*.gameboard #odd .col-xs-4:nth-child(even) {*/
    /*background-color: black;*/
/*}*/

/*.gameboard #even .col-xs-4:nth-child(odd) {*/
    /*background-color: black;*/
/*}*/

.gameboard #even .col-xs-4:nth-child(even) {
    background-color: #e8e8e8;
}
.gameboard .turn{
    height:13%;
    margin: 0 -30px;
}
.leftpanel {
    height:100%;
}
.rightpanel {
    height:100%;
}
.rpanelheader {
    text-align: center;
    font-weight: bold;
}
.scoresheading div{
    font-weight: bold;
    background-color: #1f2228;
    color: #ffffff;
}
.box {
    border:1px solid #000;
    height:100%;
    text-align: center; 
    width:33.33%;            
    font-size:60px;
}
.turn {
    text-align:center;
    /*padding-top:5px;*/
    /*color: #2c8edd;*/
}        
.tleft, .tright, .bright, .bleft { border:0; }
.middle { border: 1; }
.mleft, .mright  { border-left:0;border-right: 0; }         
.bottom, .top { border-bottom: 0; border-top: 0;}        

.friend_computer {
    height: 50%;
    width:100%;
}
.friend_computer div {
    text-align:center;width:50%;float:left;
}
.friend, .computer {
    padding:2% 0; }
.footer { height:100%; }
.footer .text-info {
color: #2c8edd;
    vertical-align: middle;

    padding: 1% 0;
}
i {             
    vertical-align: middle;
}

#scores .row:nth-child(odd) {
    background-color: #e8e8e8;
}

#scores .row:nth-child(even) {
    background-color: #f9f9f9;
}

@font-face {
    font-family: "effra";
    src: url("https://use.typekit.net/af/d761fd/00000000000000000001787b/27/l?subset_id=2&fvd=n4&token=SszeBEZeiQdJlHtnYEd7zFTnJ%2BU55MjhL%2FI3pvDH6AfqGHhEL7UTNAFU8D3HK%2Fk4K6f2BBNMgwUb5kQ0gRslQz0hCMoDkTQrtvQs%2FWy6xXaBYLH15Kczj%2BKxcP7WIo74I8H9HTYTZghWRZ8KXvKWIvfeLyBjBCJRaTsztv%2FHeuHt%2BE742xxAgXYNKV%2BXfudqydMk1m7Z0ojHMekraLA9H9%2FDcJAsX3xejec9BJ%2FJOHZmp%2FPgBv8f8oS5dPEHS6SKb0OVjg%2BqeITL31RBf0vm9dIWe8DsGUQL4ol9HNgdTkPbBA8Mxbh2QtphSTVJRxSMiqpugZSYsQhI29gcKwuPU%2Fp5CInPWPTeRV%2FsxuZoOj8%3D");
}



@media (min-width: 350px)
{
     div[class^="gameboard"]{width: 70%; height: 70%}

        .gameboard .row{
            height:25%;
        }
        .gameboard .turn{
        }
        .box {
        }

    .panel-actions {

        margin-top: -20px;
        margin-bottom: 0;
        text-align: right;
    }
    .panel-actions a {
        color:#333;
    }
    .panel-fullscreen {
        display: inline-block;
        z-index: 9999;
        width: 100% !important;
        height: 90% !important;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}

/*bootstrap overides*/
.panel-default {
    border: none !important;
}
.panel-heading {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;

}

.panel-body {
    padding: 0 !important;
}

.panel-body .row {
    padding: 4px 0px !important;
}

.bg-info {
    background-color: transparent !important;
}

/*font-awesome overides */

.fa-circle-thin,
.fa-times
{
    color: black;
}

.text-info .fa-circle-thin, .text-info .fa-times {
    color: #2c8edd;
}

